# Functions

In [1]:
x = 1
y = 2
x + y

3

In [2]:
x

1

In [5]:
# basic function for addition
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

In [6]:
# function with default values
def add_numbers(x, y, z=None):
    if (z == None):
        return x + y
    else:
        return x + y + z

print (add_numbers(1, 2))
print (add_numbers(1, 2, 3))

3
6

In [8]:
# labeled values
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print ('Flag is true!')
    if (z == None):
        return x + y
    else:
        return x + y + z

print (add_numbers(1, 2, flag=True))

Flag is true!
3

# Types and Sequences

In [9]:
type('This is a string')

str

In [10]:
type(None)

NoneType

In [11]:
type(1)

int

In [12]:
type(1.0)

float

In [13]:
type(add_numbers)

function

In [15]:
# tuple
x = (1, 'a', 2, 'b')
type(x)

tuple

In [25]:
# list
x = [1, 'a', 2, 'b']
type(x)

list

In [26]:
# add item to list
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [27]:
# iterate list items
for item in x:
    print (item)

1
a
2
b
3.3

In [30]:
# iterate using index
i = 0
while (i != len(x)):
    print (x[i])
    i = i + 1

1
a
2
b
3.3

In [31]:
# concatenate lists
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [32]:
# repeat values
[1] * 3

[1, 1, 1]

In [33]:
# value in list
1 in [1, 2, 3]

True

In [36]:
# slicing strings
x = 'This is a string'

print (x[0])
print (x[0:1])
print (x[0:2])
print (x[:3])

T
T
Th
Thi

In [37]:
# slicing using negative
print (x[-1])
print (x[-4:-2])

g
ri

In [38]:
# string operators
firstname = 'Michael'
lastname = 'Sjoeberg'

print (firstname + ' ' + lastname)
print (firstname * 3)
print ('Mich' in firstname)

Michael Sjoeberg
MichaelMichaelMichael
True

In [39]:
# string splitting
firstname = 'Michael Adam Sjoeberg'.split(' ')[0]
lastname = 'Michael Adam Sjoeberg'.split(' ')[-1]

print (firstname)
print (lastname)

Michael
Sjoeberg

In [42]:
# dictionary items
x = {'Michael Sjoeberg': 'mqe@doolio.co', 'John Snow': None}

print (x['Michael Sjoeberg'])
print (x['John Snow'])

mqe@doolio.co
None

In [45]:
# adding to dictionary
x['Adam West'] = 'adam@gmail.com'

print (x['Adam West'])

adam@gmail.com

In [48]:
for item in x:
    print (x[item])

mqe@doolio.co
None
adam@gmail.com

In [50]:
for email in x.values():
    print (email)

mqe@doolio.co
None
adam@gmail.com

In [51]:
for name, email in x.items():
    print (name)
    print (email)

Michael Sjoeberg
mqe@doolio.co
John Snow
None
Adam West
adam@gmail.com

In [55]:
# unpacking
x = ('Michael', 'Sjoeberg', 'mqe@doolio.co')
fname, lname, email = x

print (fname)
print (lname)
print (email)

Michael
Sjoeberg
mqe@doolio.co

# More on Strings

In [57]:
# concatenate String and number
print ('Michael' + str(2))

Michael2

In [59]:
# string format
sales_record = {'price': 3.24,
               'num_items': 4,
               'person': 'Michael'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print (sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items'] * sales_record['price']))

Michael bought 4 item(s) at a price of 3.24 each for a total of 12.96

# Dates and Times

In [61]:
import datetime as dt
import time as tm

In [62]:
tm.time()

1483827790.778771

In [64]:
# datetime
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2017, 1, 7, 23, 23, 51, 168986)

In [65]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2017, 1, 7, 23, 23, 51)

In [71]:
# time delta
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(100)

In [72]:
today = dt.date.today()

In [73]:
today - delta

datetime.date(2016, 9, 29)

In [74]:
today > today - delta

True

# Advanced: Objects, map()

In [89]:
# class
class Person:
    department = 'School of Information'
    
    # methods
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location
    def to_string(self):
        print ('Name: ' + self.name + '\nLocation: ' + self.location)

In [90]:
# new instance of class
person = Person()

person.set_name('Michael')
person.set_location('Malta')

person.to_string()

Name: Michael
Location: Malta

In [92]:
# map
store_1 = [10.00, 11.00, 12.34, 2.34]
store_2 = [9.00, 11.10, 12.34, 2.01]

cheapest = map(min, store_1, store_2)
cheapest

[9.0, 11.0, 12.34, 2.01]

In [112]:
# example using list, function, and map
people = ['Dr. Christopher Brooks',
          'Dr. Kevyn Collins-Thompson',
          'Dr. VG Vinod Vydiswaran',
          'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)
    
list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

# Advanced: Lambda and List Comprehensions

In [133]:
# lambda: functions without a name
my_function = lambda a, b, c : a + b

my_function(1, 2, 3)

3

In [134]:
# examples using lambda
people = ['Dr. Christopher Brooks',
          'Dr. Kevyn Collins-Thompson',
          'Dr. VG Vinod Vydiswaran',
          'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print (split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

# option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

True

In [140]:
# list for even numbers
my_list = []

for number in range(0, 20):
    if number % 2 == 0:
        my_list.append(number)

my_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [141]:
# list comprehension for even numbers
my_list = [number for number in range(0, 20) if number % 2 == 0]
my_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [160]:
# example list comprehension
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

lst = [i * j for i in range(10) for j in range(10)]

times_tables() == lst

True

In [174]:
# example list comprehension using strings
lowercase = 'ab'
digits = '12'

def user_id():
    lst = []
    for c1 in lowercase:
        for c2 in lowercase:
            for n1 in digits:
                for n2 in digits:
                    lst.append(c1 + c2 + n1 + n2)
    return lst

lst = [c1 + c2 + n1 + n2 for c1 in lowercase for c2 in lowercase for n1 in digits for n2 in digits]

user_id() == lst

True

# Advanced: The Numerical Python Library (NumPy)

In [175]:
import numpy as np

In [176]:
# creating arrays
my_list = [1, 2, 3]
x = np.array(my_list)
x

array([1, 2, 3])

In [178]:
y = np.array([4, 5, 6])
y

array([4, 5, 6])

In [180]:
m = np.array([[7, 8, 9],[10, 11, 12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

In [181]:
# dimension
m.shape

(2, 3)

In [184]:
# even intervals
n = np.arange(0, 30, 2)
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [185]:
# convert into 3x5
n = n.reshape(3, 5)
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [187]:
o = np.linspace(0, 4, 9)
o

array([ 0. ,  0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ])

In [188]:
o.resize(3, 3)
o

array([[ 0. ,  0.5,  1. ],
       [ 1.5,  2. ,  2.5],
       [ 3. ,  3.5,  4. ]])

In [189]:
# zeros
np.zeros((2, 3))

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

In [192]:
x + y

array([5, 7, 9])

In [193]:
x * y

array([ 4, 10, 18])

In [194]:
x**2

array([1, 4, 9])

In [196]:
# dot product
x.dot(y)

32

In [197]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

In [198]:
z.shape

(2, 3)

In [199]:
# transpose
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

In [200]:
z.T.shape

(3, 2)

In [201]:
# types
z.dtype

dtype('int64')

In [202]:
z = z.astype('f')
z.dtype

dtype('float32')

In [208]:
# sum etc
a = np.array([-4, -2, 1, 3, 5])
a.sum()

3

In [209]:
a.max()

5

In [210]:
a.min()

-4

In [211]:
a.mean()

0.59999999999999998

In [212]:
a.std()

3.2619012860600183

In [213]:
a.argmax()

4

In [214]:
a.argmin()

0

In [215]:
# index and slicing
r = np.arange(36)
r.resize((6, 6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [216]:
r[2, 2]

14

In [217]:
r[3, 3:6]

array([21, 22, 23])

In [218]:
r[:2, :-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

In [219]:
# every second on last row
r[-1, ::2]

array([30, 32, 34])

In [220]:
r[r > 30]

array([31, 32, 33, 34, 35])

In [222]:
# capping values
r[r > 30] = 30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [223]:
# copy
r_copy = r.copy()

In [224]:
r_copy[:] = 10
r_copy

array([[10, 10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10, 10]])

In [225]:
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [228]:
# iterate array
test = np.random.randint(0, 10, (4, 3))
test

array([[1, 2, 6],
       [3, 7, 5],
       [5, 3, 7],
       [0, 7, 5]])

In [230]:
for row in test:
    print (row)

[1 2 6]
[3 7 5]
[5 3 7]
[0 7 5]

In [231]:
for i in range(len(test)):
    print (test[i])

[1 2 6]
[3 7 5]
[5 3 7]
[0 7 5]

In [233]:
for i, row in enumerate(test):
    print ('row', i, 'is', row)

('row', 0, 'is', array([1, 2, 6]))
('row', 1, 'is', array([3, 7, 5]))
('row', 2, 'is', array([5, 3, 7]))
('row', 3, 'is', array([0, 7, 5]))

In [234]:
test2 = test**2
test2

array([[ 1,  4, 36],
       [ 9, 49, 25],
       [25,  9, 49],
       [ 0, 49, 25]])

In [237]:
# zip
for i, j in zip(test, test2):
    print (i, '+', j, '=', i + j)

(array([1, 2, 6]), '+', array([ 1,  4, 36]), '=', array([ 2,  6, 42]))
(array([3, 7, 5]), '+', array([ 9, 49, 25]), '=', array([12, 56, 30]))
(array([5, 3, 7]), '+', array([25,  9, 49]), '=', array([30, 12, 56]))
(array([0, 7, 5]), '+', array([ 0, 49, 25]), '=', array([ 0, 56, 30]))