# Basic Data Processing with Pandas

In [1]:
import pandas as pd

In [10]:
# list of strings
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [11]:
# list of numbers
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [12]:
# list of strings with None
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [13]:
# list of numbers with None
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [14]:
# NaN
import numpy as np
np.nan == None

False

In [15]:
np.isnan(np.nan)

True

In [23]:
# labeled data instead of index
sports = {
    'Archery': 'Bhutan',
    'Golf': 'Scotland',
    'Sumo': 'Japan',
    'Taekwondo': 'South Korea'
}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [24]:
# get index
s.index

Index([u'Archery', u'Golf', u'Sumo', u'Taekwondo'], dtype='object')

In [25]:
# set index
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object